body {
    background-color: #F8F9FA;   /* ou outra cor de fundo */
    font-family: Arial, sans-serif;
    color: #333333;              /* cor do texto padrão */
}
h1 {
    color: #2C3E50;
    text-align: center;
    font-size: 36px;
}

h2 {
    color: #34495E;
    text-align: left;
    font-size: 2s8px;
}
p {
    font-size: 16px;
    line-height: 1.6;           /* espaçamento entre linhas */
    text-align: justify;
}
body {
    font-family: 'Roboto', sans-serif;
}
h1 {
    color: #131e29;
}
h2 {
    color: #08456d;
}
.destaque {
    background-color: #E74C3C;
    color: #FFFFFF;
}